<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">

    <Playground />
  </div>
</template>

<script>
  import axios from 'axios';
  import Playground from './components/Playground.vue'

  axios.defaults.baseURL = 'https://localhost:44395/'

  export default {
    name: 'App',
    components: {
      Playground,
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
