<template>
  <div>
    <input type="checkbox" id="checkbox" v-model="animation.animated" v-on:change="switchAnimation()">
    <label for="checkbox">with animation</label>
    <canvas id="canvas"></canvas>
  </div>
</template>

<script>
  class Animation {
    constructor (scanners, devices) {
      this.scanners = scanners;
      this.devices = devices;

      this.canvas = null;
      this.context = null;
      this.animated = true;

      window.onload = () => this.resize()
      window.onresize = () => this.resize()
    }

    init() {      
      this.canvas = document.getElementById('canvas');
      this.context = this.canvas.getContext('2d');
    }

    animate () {
      if (this.context == null) {
        this.init();
      }
      
      let canvas = this.canvas;
      let context = this.context;
      let scanners = this.scanners;
      let devices = this.devices;

      const animate = () => {
        requestAnimationFrame(animate);

        context.fillStyle = "rgba(255,255,255,0.1)";
        context.fillRect(0, 0, canvas.width, canvas.height);
        scanners.forEach((scanner) => {
            scanner.draw(context);
        });
        devices.forEach((device) => {
            device.draw(context);
        });
        context.stroke();
        context.closePath();
      }
      requestAnimationFrame(animate);
    }

    resize() {
      this.canvas.height = innerHeight;
      this.canvas.width = innerWidth;
    }
  }

  export default {
    props: {
      scanners: Array,
      devices: Array,
    },
    data: function () {
      let animation = new Animation(this.scanners, this.devices);
      return {
        animation,
      }
    },
    mounted: function () {
      this.animation.animate();
    },
    methods: {
      switchAnimation: function () {
        this.animation.scanners.forEach(s => s.animated = this.animation.animated);
      }
    },
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
