<template>
  <div id="playground">
    <form>      
      <input type="text" v-model="tempName">

      <button type="button" v-on:click="pushDevice">add</button>
      <button type="button" v-on:click="randomiseDevices">random</button>
      <button type="button" v-on:click="popDevice">remove</button>
    </form>

    <Animation v-bind:scanners="scanners" v-bind:devices="devices"/>
  </div>
</template>

<script>
  import { HubConnectionBuilder, LogLevel } from '@aspnet/signalr'
  import axios from 'axios';

  import Animation from './Animation.vue'
  
  class Device {
    constructor (name, x, y, r = 20) {      
      this.name = name;
      this.x = x;
      this.y = y;
      this.r = r;
    }

    draw (context) {
      // point
      context.beginPath();
      context.font = '16pt Calibri';
      context.fillStyle = 'white';
      context.textAlign = 'center';
      context.fillText(this.name, this.x, this.y + 6);
      
      context.fillStyle = "rgba(238, 108, 77, 0.15)";
      context.arc(this.x, this.y, this.r, 0, 2 * Math.PI);
      context.fill();
      context.strokeStyle = "rgba(255, 255, 255, 0.05)";
      context.stroke();
      context.closePath();
    }
  }

  class Scanner {
    constructor (x, y, r = 250, speed = 1) {
      this.x = x;
      this.y = y;
      this.maxR = r;
      this.r = 0;
      this.speed = speed;
      this.animated = true;
    }

    draw (context) {
      // point
      context.beginPath();
      context.fillStyle = "rgba(47, 72, 88, 0.15)";
      context.arc(this.x, this.y, 20, 0, 2 * Math.PI);
      context.fill();
      context.strokeStyle = "rgba(255, 255, 255, 0.05)";
      context.stroke();
      context.closePath();

      // range
      context.beginPath();
      context.fillStyle = "rgba(114, 189, 163, 0.05)";
      context.arc(this.x, this.y, this.maxR, 0, 2 * Math.PI);
      context.fill();
      context.strokeStyle = "rgba(255, 255, 255, 0.025)";
      context.stroke();
      context.closePath();

      if (this.animated) {        
        if (this.r > this.maxR) {
          this.r = 0;
        } else {
          this.r += this.speed;
        }

        context.beginPath();
        context.fillStyle = "rgba(114, 189, 163, 0.1)";
        context.arc(this.x, this.y, this.r, 0, 2 * Math.PI);
        context.fill();
        context.strokeStyle = "rgba(234, 255, 253, 0.05)";
        context.stroke();
        context.closePath();
      }
    }
  }

  export default {
    name: 'Playground',
    components: {
      Animation
    },
    data: () => {
      return {
        scanners: [ new Scanner(250, 250, 250, 1), new Scanner(750, 750, 500, 2) ],
        devices: [ new Device("a", 200, 200), new Device("b", 100, 200), new Device("c", 100, 100) ],
        tempName: ""
      }
    },
    created: function() {
        // ---------
        // Connect to our hub
        // --------- 
        this.connection = new HubConnectionBuilder()
            .withUrl('https://localhost:44395/devicehub')
            .configureLogging(LogLevel.Information)
            .build();

        this.connection.start().catch(function(err) {
            return console.error(err.toSting());
        });
    },
    mounted: function() {
        this.$nextTick(function () {
            window.setInterval(() => {
                this.randomiseDevices();
            },500);
        })
        // call api
        axios.get('/api/BLEDevice')
            .then(function (response) {
                // handle success
                this.devices.push(response);
                console.log(response);
            });
        // ---------
        // Call client methods from hub
        // ---------
        this.connection.start();
        this.connection.on("ReceiveDevice", function(device) {
            this.devices.push(device);
        });
    },
    methods: {
      randomiseDevices: function () {
        function getRandomArbitrary(min, max) {
          return Math.random() * (max - min) + min;
        }
        this.devices.forEach(d => {
          d.x = getRandomArbitrary(d.x - 5, d.x + 10);
          d.y = getRandomArbitrary(d.y - 5, d.y + 10);
        });
      },
      pushDevice: function () {
        this.devices.push(new Device(this.tempName, 100, 100));
      },
      popDevice: function () {
        this.devices.pop();
      }
    },
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
