﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>BigBrother</title>
    <!-- from example -->
    <script src="~/signalr.js"></script>
</head>
<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>
